{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    "valid-jsdoc": 1,

    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "quotes": [
      2,
      "double"
    ],
    "new-cap": 0,
    "brace-style": [2, "stroustrup", { "allowSingleLine": false }],

    // Disable until Flow supports let and const
    "no-var": 0,
    "vars-on-top": 0,

    // Disable comma-dangle unless need to support it
    "comma-dangle": 0
  },
  "plugins": [
    "react"
  ]
}
