{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "React": true
  },
  "rules": {
    "valid-jsdoc": 1,
    "quotes": [
      2,
      "double"
    ],
    "new-cap": 0,
    "brace-style": [2, "stroustrup", { "allowSingleLine": false }],
    "id-length": [2, {"min": 1, "properties": "never"}],
    "no-param-reassign": 0,

    // Disable until Flow supports let and const
    "no-var": 0,
    "vars-on-top": 0,

    // Disable comma-dangle unless need to support it
    "comma-dangle": 0
  },
  "root": true
}
