# Git uses this file to determine which files and directories to ignore
# https://help.github.com/articles/ignoring-files

.idea
npm-debug.log
node_modules
lib
dist
test_reports
index.html
example*.js
